@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Dosis:wght@200..800&family=Hanken+Grotesk:wght@400;500;600;700;800&family=Inter:wght@400;700&family=Jura:wght@300..700&family=Kumbh+Sans:wght@400;500;600;700;800;900&family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@300;400;500;600;700;800;900&family=Overpass:wght@400;500;600;700;800;900&family=Plaster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", Oxygen, "Fira Sans",
    "Droid Sans", sans-serif;

    
   
}


.nav {
 display: flex;
 justify-content: center;
 width: 100%;
 height: 100px;
 top: 0;
 left: 0;
 position: fixed;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

ul li {
    list-style: none;
}




a {
  text-decoration: none;
  color: #696767;
  text-transform: capitalize;
  padding: 5px 15px;
  /* 
  margin: 10px;
  border: none;
  outline: none;
  color: #696767;
  border-radius: 2px; 
  */
}

a:hover {
    cursor: pointer;
    background: #e7e7e7;
    color: #2b2929;
}

.active {
    background: #e7e7e7;
    color: #2b2929;
    padding: 5px 5px;
}

.content-container {
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}


 .landing-page{
    width: 100vw;
    margin-top: 50px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
}

.landing-page  img {
    width: 300px;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}

.logo {
    width: 80px;
    height: 60px;
    left: 100px;
    top: 20px;
    position: absolute;
   
}

.content {
    margin-top: 150px;
}

.home-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.home-page p {
   
    color: #2D90AE;
    font-size: 45px;
    font-weight: 700;
    bottom: 20px;
    left: 50;
    position: absolute;
    font-family: "Dosis", sans-serif;
    
}

.home-page img {
    width: 50%;
    height: 100%;
}



.content div {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.content div canvas {
    /* width: 50%; */
  
}

.content div img {
    /* width: 50%; */
    flex-basis: 45%;
    width: 700px;
    height: 600px;
}



.land {
    /* background-image: url(img/bar-chart-build.jpg); */
    background-image: url(img/data_report.svg);
    background-size:  100vw 100vh ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
}




.nav-right {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    height: 100px;

}

.div-search {
    border: 1px solid #66718d;
    height: 35px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-left: 50px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.div-search button {
    border: none;
    outline: none;
    height: 100%;
    width: 15%;
    background: #66718d;
    cursor: pointer;
    
}

.div-search input {
    width: 85%;
    height: 100%;
    outline: 0;
    border: 0;
    background: none;
    padding-inline: 10px;
    font-size: 14px;
    color: #696767;
    box-shadow: inset 0 2px 4px 0 hsla(0,0%,0.08);
}


/* shortcut-div */

.shortcut-div {
    display: none;
    position: absolute;
    top: 75px;
    right: 19%;
    color: #696767;
    background: #faf8ff;
    width: 300px;
    height: fit-content;
   
    outline: 1px solid #e7e7e7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.shortcut-div ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    gap: 0;
    
}

.shortcut-div ul li {
    font-size: 14px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
   height: 30px;
   
}

.shortcut-div ul li:last-child {
    border: none;
}

kbd {
    border: 1px solid #dbdbdb;
    
    padding-inline: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.shortcut-title {
    color: #3f3f3f;
    font-size: 16px !important;
    font-weight: 600;
}